<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Ficha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>  
    <ion-item>  
      <ion-label>Fecha</ion-label>  
      <ion-datetime  placeholder="Seleccion fecha"></ion-datetime>  
    </ion-item>  
</ion-list>  
<ion-item>
  <ion-label>Actividad</ion-label>
  <ion-textarea rows="6" cols="20" ></ion-textarea>
</ion-item>

 
</ion-content>
